.container{
    height: 100%;
    width: 182px;
    margin: 0 auto;
    background: transparent;
    background-clip: ;
    
}


* h1{
    font-style: serif;
    text-align: center;
    padding-bottom: 5px;
    background: opacity 1;
    border-bottom: 1px solid black;
}


.fullscreen-bg__video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
  }


