
.container{
    background-color:#6f5964;
    width: 900px;
    height: auto;
    margin: 0 auto;


}
/* ----------------------------------------------------------------------- */
.header{
    height: 60px;
    width: 900px;
    background: rgba(212,212,212,1);
    background: -moz-linear-gradient(top, rgba(212,212,212,1) 3%, rgba(230,230,230,1) 15%, rgba(230,230,230,1) 27%, rgba(229,229,229,1) 30%, rgba(219,219,219,1) 57%, rgba(240,240,240,1) 69%, rgba(240,240,240,1) 82%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(3%, rgba(212,212,212,1)), color-stop(15%, rgba(230,230,230,1)), color-stop(27%, rgba(230,230,230,1)), color-stop(30%, rgba(229,229,229,1)), color-stop(57%, rgba(219,219,219,1)), color-stop(69%, rgba(240,240,240,1)), color-stop(82%, rgba(240,240,240,1)), color-stop(88%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(212,212,212,1) 3%, rgba(230,230,230,1) 15%, rgba(230,230,230,1) 27%, rgba(229,229,229,1) 30%, rgba(219,219,219,1) 57%, rgba(240,240,240,1) 69%, rgba(240,240,240,1) 82%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(212,212,212,1) 3%, rgba(230,230,230,1) 15%, rgba(230,230,230,1) 27%, rgba(229,229,229,1) 30%, rgba(219,219,219,1) 57%, rgba(240,240,240,1) 69%, rgba(240,240,240,1) 82%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(212,212,212,1) 3%, rgba(230,230,230,1) 15%, rgba(230,230,230,1) 27%, rgba(229,229,229,1) 30%, rgba(219,219,219,1) 57%, rgba(240,240,240,1) 69%, rgba(240,240,240,1) 82%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(212,212,212,1) 3%, rgba(230,230,230,1) 15%, rgba(230,230,230,1) 27%, rgba(229,229,229,1) 30%, rgba(219,219,219,1) 57%, rgba(240,240,240,1) 69%, rgba(240,240,240,1) 82%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d4d4', endColorstr='#ffffff', GradientType=0 );
}
.header h1{
    margin:5px;
}
#JayneDoe{
    display: inline-block;
    height: 38px;
    width: 373px;
    padding: 10px; 
}
#masterOfShadows{
    margin-left: 40px;
    height: 50px;
    width: 423px;
    text-align: right;
    display: inline-block;
}
#masterOfShadows h3{
    margin-bottom: 10px;
}


/* ----------------------------------------------------------------------- */
.top-third {
    height: 316px;
    width: 900px;
}
.top-third img{
    width: 381px;
    height: 266px;
    padding: 24px;
    display: inline-block;
}



.about{
    background-color: #f0eaef;
    width: 439px;
    height: 266px;
    padding: 0px;
    display: inline-block;
    vertical-align: top;
    margin-top: 24px;

}
.about h1{
    color: white;
    background-color: gray;
    margin-top: 0px;
    height: 30px;
    text-align: left;
    padding: 3px;
}
.about p{
    margin: 5px;
}

.about a{
    color: black;
}


.main-content{    

}
.main-content-container{
    height: 450px;
}
.main-content-container h1{
    color: white;
    margin: -6px;
    margin-bottom: 0px;
    height: 23px;
    text-align: left;
    padding: 5px;
    font-size: 17px;
    background: rgba(176,176,176,1);
    background: -moz-linear-gradient(top, rgba(176,176,176,1) 28%, rgba(175,175,175,1) 30%, rgba(161,161,161,1) 51%, rgba(168,168,168,1) 65%, rgba(183,183,183,1) 77%, rgba(196,196,196,1) 88%);
    background: -webkit-gradient(left top, left bottom, color-stop(28%, rgba(176,176,176,1)), color-stop(30%, rgba(175,175,175,1)), color-stop(51%, rgba(161,161,161,1)), color-stop(65%, rgba(168,168,168,1)), color-stop(77%, rgba(183,183,183,1)), color-stop(88%, rgba(196,196,196,1)));
    background: -webkit-linear-gradient(top, rgba(176,176,176,1) 28%, rgba(175,175,175,1) 30%, rgba(161,161,161,1) 51%, rgba(168,168,168,1) 65%, rgba(183,183,183,1) 77%, rgba(196,196,196,1) 88%);
    background: -o-linear-gradient(top, rgba(176,176,176,1) 28%, rgba(175,175,175,1) 30%, rgba(161,161,161,1) 51%, rgba(168,168,168,1) 65%, rgba(183,183,183,1) 77%, rgba(196,196,196,1) 88%);
    background: -ms-linear-gradient(top, rgba(176,176,176,1) 28%, rgba(175,175,175,1) 30%, rgba(161,161,161,1) 51%, rgba(168,168,168,1) 65%, rgba(183,183,183,1) 77%, rgba(196,196,196,1) 88%);
    background: linear-gradient(to bottom, rgba(176,176,176,1) 28%, rgba(175,175,175,1) 30%, rgba(161,161,161,1) 51%, rgba(168,168,168,1) 65%, rgba(183,183,183,1) 77%, rgba(196,196,196,1) 88%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0b0b0', endColorstr='#c4c4c4', GradientType=0 );
}




.main-content-container{
    height: 685px;
    padding: 10px;
    align-content: center;
}

.main-divider{
    width: 30%;
    height: 680px;
    padding: 6px;
    margin: 0px 7px 0px 7px;
    display: inline-block;
    vertical-align: top;
    background-color: white;    
}



.main-divider h3{
    color: white;
    background-color: gray;
    margin-top: 0px;

}


.md-pic{
    height: 200px;
    width: 270px;    
}
.pl-pic{
    height: 40px;
    width: 40px;

}




.main-divider p{
    height: 200px;
}

/* -------------------------------------------------------------- */

.footer{
    height: 50px;
    width: 900px; 
    background: rgba(245,245,245,1);
    background: -moz-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 1%, rgba(227,227,227,1) 3%, rgba(245,245,245,1) 16%, rgba(235,235,235,1) 57%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 82%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,245,245,1)), color-stop(1%, rgba(245,245,245,1)), color-stop(3%, rgba(227,227,227,1)), color-stop(16%, rgba(245,245,245,1)), color-stop(57%, rgba(235,235,235,1)), color-stop(69%, rgba(255,255,255,1)), color-stop(82%, rgba(255,255,255,1)), color-stop(88%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 1%, rgba(227,227,227,1) 3%, rgba(245,245,245,1) 16%, rgba(235,235,235,1) 57%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 82%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 1%, rgba(227,227,227,1) 3%, rgba(245,245,245,1) 16%, rgba(235,235,235,1) 57%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 82%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 1%, rgba(227,227,227,1) 3%, rgba(245,245,245,1) 16%, rgba(235,235,235,1) 57%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 82%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 1%, rgba(227,227,227,1) 3%, rgba(245,245,245,1) 16%, rgba(235,235,235,1) 57%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 82%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ffffff', GradientType=0 );
}
    #email-phone{
    height: 24px;
    width: 900px;
}
#email-phone p{
    text-align: center;
}

#social-media{
    height: 24px;
    width: 900px;
}
#social-media p{
    text-align: center;
    margin: 0 auto;
}
.footer-pics{
    height: 20px;
    width: 20px;

}
