
.container{
    height:100%;
    width:100%;
    margin: 0 auto;

}

.element{
    height:300px;
    width:23%;
}

#restore {
    height: 70px;
    width: 172px;
    margin-left: 43%;
    font-size: 29px;
    border-radius: 17px;
}



.hide {
    opacity: 0;
}

